<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Chicken</title>
  <link rel="stylesheet" href="./main.css">
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

</head>

<body>
  <div class="container-fluid p-0">
    <!-- Header -->
    <div class="section-header">
      <div class="container">
        <div class="row mt-2 my-2">
          <div class="col-lg-8 col-md-8 col-sm-8 col-12">
            <div class="header-logo-home d-flex">
              <img src="../public/kfc-logo.svg" width="78px" height="78px" alt="">
              <ul class="list-inline d-flex align-items-center ms-2">
                <li class=" mx-2 ms-2">
                  <a href="">
                    <p>
                      Thực đơn
                    </p>
                  </a>
                </li>
                <li class=" mx-2">
                  <a href="">
                    Khuyến mãi
                  </a>
                </li>
                <li class=" mx-2">
                  <a href="">
                    Dịch vụ
                    tiệc
                  </a>
                </li>
                <li class=" mx-2">
                  <a href="">
                    Hệ thống
                    nhà hàng
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-12 m-auto">
            <div class="header-logo-menu">
              <ul class="list-inline d-flex align-items-center justify-content-end">
                <li class="ms-4">
                  <i class="fa-regular fa-circle-user fs-3 text-black"></i>
                </li>
                <li class="ms-4">
                  <div class="cart-btn">
                    <button class="btn-cart">
                      <i class="fa-solid fa-cart-shopping fs-3 text-black"></i>
                    </button>
                    <div class="cart-container">
                      <button class="btn text-white" id="clear-cart-btn">Clear Cart</button>
                      <div id="products-container"></div>
                      <p>Total number of items: <span class="total-items">0</span></p>
                      <p>Subtotal: <span class="subtotal">0 VND</span></p>
                      <p>Taxes: <span class="taxes">0 VND</span></p>
                      <p>Total: <span class="total">0 VND</span></p>
                    </div>
                  </div>
                </li>
                <li class="ms-4">
                  <button class="btn btn-white" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i
                      class="fa-solid fa-bars fs-3"></i></button>
                  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                    aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                      <div class="header-two-line">
                        <div class="line-one"></div>
                        <div class="line-two"></div>
                        <div class="line-three"></div>
                      </div>
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                      <div class="menu-content"></div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero -->
    <div class="section-hero-nav d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center align-items-baseline ">
            <p>
              <span class="ms-5 text-white">Đặt ngay</span>
              <span class="ms-5 text-white">
                <i class="fa-solid fa-truck-fast"></i>
                Giao hàng</span>
              <span class="ms-5 text-white">
                <i class="fa-solid fa-face-smile"></i>
                hoặc Mang đi</span>
            </p>
            <button class="start-order ms-5">Bắt đầu đặt hàng</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Content -->
    <div class="section-content">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://static.kfcvietnam.com.vn/images/content/home/carousel/lg/Chizza.webp?v=LK8X94"
              class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://static.kfcvietnam.com.vn/images/content/home/carousel/lg/NgotNgao.webp?v=LK8X94"
              class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://static.kfcvietnam.com.vn/images/content/home/carousel/lg/Free.webp?v=LK8X94"
              class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- nhiều sản phẩm -->
      <div class="container">
        <div class="row">
          <div class="title">
            <h1 style="float: left;margin-right: 12px;">Danh mục món ăn</h1>
            <hr style="margin-top: 28px;" />
          </div>
        </div>
        <div class="container">
          <div class="section-product row  gy-lg-4 gy-md-4 gx-md-4 gy-sm-3 gx-sm-3 ">
          
          </div>
        </div>
      </div>
    </div>
    <!-- banner cuối footer -->
    <div class="container-fluid mt-5">
      <div class="row">
        <div class="col-lg-6">
          <img width="180%" src="https://static.kfcvietnam.com.vn/images/content/home/mobileappbanner/lg/banner.jpg?v=LK8X94" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <div class="section-footer py-2">
    <div class="container-fluid">
      <div class="row footer p-2 ">
      </div>
      <p class="text-center text-white fs-6">Copyright © 2023 KFC Vietnam</p>
      <hr style="border: 1px solid white;">
      <div class="row">
        <div class="introduce-company d-flex align-items-center">
          <div class="col-lg-6">
            <div class="company">
              <h3 class="text-white">CÔNG TY LIÊN DOANH TNHH KFC VIỆT NAM</h1>
                <p class="text-white"> Số 292 Bà Triệu, P. Lê Đại Hành, Q. Hai Bà Trưng, TP. Hà Nội.</p>
                <p class="text-white"> Điện thoại: (028) 38489828</p>
                <p class="text-white"> Email: lienhe@kfcvietnam.com.vn</p>
                <p class="text-white"> Mã số thuế: 0100773885</p>
                <p class="text-white">
                  Ngày cấp: 29/10/1998 - Nơi cấp: Cục Thuế Thành Phố Hà Nội
                </p>
            </div>
          </div>
          <div class="col-lg-6 d-flex justify-content-center">
            <div class="logo-bocongthuong">
              <img src="https://kfcvn-static.cognizantorderserv.com/images/email/logo_footer.png" width="200px"
                height="77px" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-two-line-footer">
      <div class="line-one-footer"></div>
      <div class="line-two-footer"></div>
      <div class="line-three-footer"></div>
    </div>
  </div>
</body>
<script src="layout.js"></script>
<script src="../bootstrap/js/bootstrap.bundle.js"></script>

</html>