*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", serif;
  font-size: 16px;
}

.section-header {
  cursor: pointer;
}
.section-header .header-logo-home {
  display: flex;
}
.section-header .header-logo-home ul {
  display: flex;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}
.section-header .header-logo-home ul li {
  margin-left: 5px;
  font-weight: 700;
}
.section-header .header-logo-home ul li a {
  color: #000000;
  text-decoration: none;
}
.section-header .header-logo-home ul li:hover {
  text-decoration: underline;
}
.section-header .header-logo-menu {
  cursor: pointer;
  /* offcanvas */
}
.section-header .header-logo-menu li {
  margin-left: 10px;
}
.section-header .header-logo-menu .cart-btn {
  position: relative;
}
.section-header .header-logo-menu .cart-btn .btn-cart {
  border: none;
  background: #fff;
  padding: 5px;
}
.section-header .header-logo-menu .cart-btn .btn-cart:hover {
  background-color: rgb(232, 223, 223);
  border-radius: 5px;
}
.section-header .header-logo-menu .cart-btn .cart-container {
  display: none;
  position: fixed;
  top: 66px;
  right: -6px;
  background-color: #202124;
  color: #fff;
  width: 280px;
  height: 400px;
  border: 8px double #fff;
  border-radius: 15px;
  text-align: center;
  font-size: 1.2rem;
  overflow-y: scroll;
  z-index: 999;
}
.section-header .header-logo-menu .cart-btn .cart-container #clear-cart-btn {
  padding: 2px 10px;
  background-color: #e4002b;
}
.section-header .header-logo-menu .cart-btn .cart-container #clear-cart-btn:hover {
  background-color: #d6d0d1;
}
.section-header .header-logo-menu .cart-btn .cart-container.active {
  display: block;
}
.section-header .header-logo-menu .offcanvas-header {
  position: relative;
}
.section-header .header-logo-menu .header-two-line {
  display: flex;
  position: absolute;
  left: 45%;
  top: 1px;
}
.section-header .header-logo-menu .header-two-line .line-one,
.section-header .header-logo-menu .header-two-line .line-two,
.section-header .header-logo-menu .header-two-line .line-three {
  width: 11px;
  height: 30px;
  background-color: #e4002b;
  margin: 0 5px;
}

.section-hero-nav {
  height: 70px;
  background-color: #202124;
}
.section-hero-nav p span {
  color: #fff;
  font-weight: 700;
}
.section-hero-nav button {
  padding: 10px 30px;
  background-color: #e4002b;
  color: #fff;
  font-weight: 700;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
}
.section-hero-nav button:hover {
  background-color: #ed5b76;
}

.section-content {
  cursor: pointer;
}
.section-content .section-product .name {
  font-weight: 700;
}
.section-content .section-product .price {
  font-weight: 700;
}
.section-content .section-product .cart-content {
  font-style: oblique;
}
.section-content .section-product .cart-full {
  display: inline-block;
  width: 100%;
  padding: 10px 30px;
  background-color: #e4002b;
  color: #fff;
  font-weight: 700;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
}
.section-content .section-product .cart-full:hover {
  background-color: #ed5b76;
}

.section-footer {
  position: relative;
  background: #202124;
  width: 100%;
}
.section-footer .header-two-line-footer {
  position: absolute;
  top: 92%;
  right: 50%;
}
.section-footer .header-two-line-footer .line-one-footer {
  width: 11px;
  height: 35px;
  background-color: #fff;
  float: left;
  margin-left: 8px;
}
.section-footer .header-two-line-footer .line-two-footer {
  width: 11px;
  height: 35px;
  background-color: #fff;
  float: right;
  margin-left: 8px;
}
.section-footer .header-two-line-footer .line-three-footer {
  width: 11px;
  height: 35px;
  background-color: #fff;
  float: right;
  margin-left: 8px;
}

/*# sourceMappingURL=main.css.map */
