*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
$color-main: #202124;
$color-green: #28a745;
$color-black: #000000;
$color-red: #e4002b;
$color-white: #fff;
$font-family: "Roboto", serif;
$font-size: 16px;
$font-weight: 700;
$text-decoration: none;
$border-none: none;

body {
  font-family: $font-family;
  font-size: $font-size;
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

}

.section-header {
  cursor: pointer;
  .header-logo-home {
    display: flex;
    ul {
      display: flex;
      align-items: center;
      margin-left: 10px;
      cursor: pointer;
      li {
        margin-left: 5px;
        font-weight: $font-weight;
        a {
          color: $color-black;
          text-decoration: $text-decoration;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .header-logo-menu {
    cursor: pointer;
    li {
      margin-left: 10px;
    }
    .cart-btn {
      position: relative;
      .btn-cart {
        border: none;
        background: #fff;
        padding: 5px;
        &:hover {
          background-color: rgb(232 223 223);
          border-radius: 5px;
        }
      }
      .cart-container {
        display: none;
        position: fixed;
        top: 66px;
        right: -6px;
        background-color: $color-main;
        color: $color-white;
        width: 280px;
        height: 400px;
        border: 8px double $color-white;
        border-radius: 15px;
        text-align: center;
        font-size: 1.2rem;
        overflow-y: scroll;
        z-index: 999;
        #clear-cart-btn {
          padding: 2px 10px;
          background-color: $color-red;
          &:hover {
            background-color: #d6d0d1;
          }
        }
      }
      .cart-container.active {
        display: block;
      }
    }
    /* offcanvas */
    .offcanvas-header {
      position: relative;
    }
    .header-two-line {
      display: flex;
      position: absolute;
      left: 45%;
      top: 1px;
      .line-one,
      .line-two,
      .line-three {
        width: 11px;
        height: 30px;
        background-color: $color-red;
        margin: 0 5px;
      }
    }
    
  }
}

.section-hero-nav {
  height: 70px;
  background-color: $color-main;
  p {
    span {
      color: $color-white;
      font-weight: $font-weight;
    }
  }
  button {
    padding: 10px 30px;
    background-color: $color-red;
    color: $color-white;
    font-weight: $font-weight;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: $border-none;
    &:hover {
      background-color: #ed5b76;
    }
  }
}

.section-content {
  cursor: pointer;
  .section-product {
    .name {
      font-weight: 700;
    }
    .price {
      font-weight: 700;
    }
    .cart-content {
      font-style: oblique;
    }
    .cart-full {
      display: inline-block;
      width: 100%;
      padding: 10px 30px;
      background-color: $color-red;
      color: $color-white;
      font-weight: $font-weight;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      border: $border-none;
      &:hover {
        background-color: #ed5b76;
      }
    }
  }
}

.section-footer {
  position: relative;
  background: $color-main;
  width: 100%;
  .header-two-line-footer {
    position: absolute;
    top: 92%;
    right: 50%;
    .line-one-footer {
      width: 11px;
      height: 35px;
      background-color: $color-white;
      float: left;
      margin-left: 8px;
    }
    .line-two-footer {
      width: 11px;
      height: 35px;
      background-color: $color-white;
      float: right;
      margin-left: 8px;
    }
    .line-three-footer {
      width: 11px;
      height: 35px;
      background-color: $color-white;
      float: right;
      margin-left: 8px;
    }
  }
}

